<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @part["id"] %>
</p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Hardware:</strong>
  <% if !@part.hardware.nil? %>
    <%= @part.hardware["name"] %>
  <% end %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
