<%= form_for(@battery_history) do |f| %>
  <% if @battery_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battery_history.errors.count, "error") %> prohibited this battery_history from being saved:</h2>

      <ul>
      <% @battery_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :battery_id %><br>
    <%= f.number_field :battery_id %>
  </div>
  <div class="field">
    <%= f.label :battery_type %><br>
    <%= f.text_field :battery_type %>
  </div>
  <div class="field">
    <%= f.label :initial_use %><br>
    <%= f.date_select :initial_use %>
  </div>
  <div class="field">
    <%= f.label :weatherbox_id %><br>
    <%= f.number_field :weatherbox_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
