<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @issue.issue_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Weatherbox:</strong>
  <%= @issue.weatherbox_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @issue.date %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
