<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @issue["id"] %>
</p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Weatherbox:</strong>
  <%= @issue.weatherbox_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Date Created:</strong>
  <%= @issue.created_at %>
</p>

<p>
  <strong>Date Updated:</strong>
  <%= @issue.updated_at %>
</p>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
