<div class="main">
  <div class="container">
    <h1>Welcome to the weatherbox manager!</h1>
    <p>Prepare to manage some weatherboxes.</p>

    <p>The following are tables that will not be displayed.</p>
    <p><%= link_to 'Hardware Parts', controller: 'hardware_parts' %></p>
    <p><%= link_to 'Parts', controller: 'parts' %></p>
    <p><%= link_to 'Battery Histories', controller: 'battery_histories' %></p>
    <p><%= link_to 'Locations', controller: 'locations' %></p>
    <p><%= link_to 'Software Histories - needs to be made', controller: 'welcome' %></p>
    <p><%= link_to 'Deployment Histories - needs to be made', controller: 'welcome' %></p>
    </div>
</div>

