<%= form_for(@hardware_part) do |f| %>
  <% if @hardware_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hardware_part.errors.count, "error") %> prohibited this hardware_part from being saved:</h2>

      <ul>
      <% @hardware_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hardware_id %><br>
    <%= f.number_field :hardware_id %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br>
    <%= f.number_field :part_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
