<p id="notice"><%= notice %></p>

<h1>Listing Hardware Parts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Hardware</th>
      <th>Part</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hardware_parts.each do |hardware_part| %>
      <tr>
        <td><%= hardware_part.hardware_id %></td>
        <td><%= hardware_part.part_id %></td>
        <td><%= link_to 'Show', hardware_part %></td>
        <td><%= link_to 'Edit', edit_hardware_part_path(hardware_part) %></td>
        <td><%= link_to 'Destroy', hardware_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hardware part', new_hardware_part_path %>
