<p id="notice"><%= notice %></p>

<p>
  <strong>Hardware:</strong>
  <%= @hardware_part.hardware_id %>
</p>

<p>
  <strong>Part:</strong>
  <%= @hardware_part.part_id %>
</p>

<%= link_to 'Edit', edit_hardware_part_path(@hardware_part) %> |
<%= link_to 'Back', hardware_parts_path %>
