<%= form_for(@weatherbox) do |f| %>
  <% if @weatherbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weatherbox.errors.count, "error") %> prohibited this weatherbox from being saved:</h2>

      <ul>
      <% @weatherbox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :box_id %><br>
    <%= f.number_field :box_id %>
  </div>
  <div class="field">
    <%= f.label :hardware_id %><br>
    <%= f.select(:hardware_id, Hardware.all.collect {|p| [p.name, p.id]}, include_blank: 'None') %>
  </div>
  <div class="field">
    <%= f.label :software_id %><br>
    <%= f.select(:software_id, Software.all.collect {|p| [p.version, p.id ] }, include_blank: 'None') %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br>
    <%= f.select(:network_id, Network.all.collect {|p| [p.network_id, p.id ] }, include_blank: 'None') %>
  </div>
  <div class="field">
    <%= f.label :xbee_address %><br>
    <%= f.text_field :xbee_address %>
  </div>
  <div class="field">
    <%= f.label :node_type %><br>
    <%= f.text_field :node_type %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select(:location_id, Location.all.collect {|p| [p.building_name, p.id] }, include_blank: 'None') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
