<p id="notice"><%= notice %></p>

<p>
  <strong>Box:</strong>
  <%= @weatherbox.box_id %>
</p>

<p>
  <strong>Hardware:</strong>
  <% if !@weatherbox.hardware.nil? %>
    <%= @weatherbox.hardware["name"] %>
  <% end %>
</p>

<p>
  <strong>Software:</strong>
  <% if !@weatherbox.software.nil? %>
    <%= @weatherbox.software["version"] %>
  <% end %>
</p>

<p>
  <strong>Network:</strong>
  <%= @weatherbox.network_id %>
</p>

<p>
  <strong>Xbee address:</strong>
  <%= @weatherbox.xbee_address %>
</p>

<p>
  <strong>Node type:</strong>
  <%= @weatherbox.node_type %>
</p>

<p>
  <strong>Location:</strong>
  <% if !@weatherbox.location.nil? %>
    <%= @weatherbox.location["building_name"] %>
  <% end %>
</p>

<p>
  <strong>Battery Type:</strong>
  <% if !@weatherbox.battery_history.nil? %>
    <%= @weatherbox.battery_history["battery_type"] %>
  <% end %>
</p>

<p>
  <strong>Battery Inital Use:</strong>
  <% if !@weatherbox.battery_history.nil? %>
    <%= @weatherbox.battery_history["initial_use"] %>
  <% end %>
</p>

<%= link_to 'Edit', edit_weatherbox_path(@weatherbox) %> |
<%= link_to 'Back', weatherboxes_path %>
