<p id="notice"><%= notice %></p>

<p>
  <strong>Box:</strong>
  <%= @weatherbox.box_id %>
</p>

<p>
  <strong>Hardware:</strong>
  <% if !@weatherbox.hardware.nil? %>
    <%= @weatherbox.hardware["name"] %>
  <% end %>
</p>

<p>
  <strong>Software:</strong>
  <% if !@weatherbox.software.nil? %>
    <%= @weatherbox.software["version"] %>
  <% end %>
</p>

<p>
  <strong>Network:</strong>
  <% if !@weatherbox.network.nil? %>
    <%= @weatherbox.network["id"] %>
  <% end %>
</p>

<p>
  <strong>Xbee address:</strong>
  <%= @weatherbox.xbee_address %>
</p>

<p>
  <strong>Node type:</strong>
  <%= @weatherbox.node_type %>
</p>

<p>
  <strong>Location:</strong>
  <% if !@weatherbox.location.nil? %>
    <%= @weatherbox.location["building_name"] %>
  <% end %>
</p>

<p>
  <strong>Issues:</strong>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Issue ID</th>
      <th>Issue Title</th>
      <th>Issue Status</th>
      <th>Issue Description</th>
      <th>Date Created</th>
      <th>Date Updated</th>
    </tr>
  </thead>
  
  <tbody>
   <% @weatherbox.issues.each do |issue| %>
     <% if issue["status"] == "Open" || issue["status"] == "In Progress" %>
       <tr>
         <td><%= issue["id"] %></td>
         <td><%= issue["title"] %></td>
         <td><%= issue["status"] %></td>
         <td><%= issue["description"] %></td>
         <td><%= issue["created_at"] %></td>
         <td><%= issue["updated_at"] %></td>
       </tr>
     <% end %>
   <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_weatherbox_path(@weatherbox) %> |
<%= link_to 'Back', weatherboxes_path %>
