<p id="notice"><%= notice %></p>

<p>
  <strong>Hardware:</strong>
  <%= @hardware["id"] %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hardware.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @hardware.notes %>
</p>

<p>
  <strong>Parts:</strong>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Part Name</th>
      <th>Part Description</th>
    </tr>
  </thead>

  <tbody>
   <% @hardware.parts.each do |part| %>
     <% if part.hardware_id == @hardware.id%>
       <tr>
         <td><%= part["name"] %></td>
         <td><%= part["description"] %></td>
         <td><%= link_to 'Edit', edit_part_path(part, :hardware_id => @hardware.id, :hardware_name => @hardware.name) %></td>
         <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   <% end %>
  </tbody>
</table>

<%= link_to 'Add Part', new_part_path(:hardware_id => @hardware.id, :hardware_name => @hardware.name ) %>
<br>
<br>
<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
