<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @location["id"] %>
</p>

<p>
  <strong>Building name:</strong>
  <%= @location.building_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Gps coordinates:</strong>
  <%= @location.gps_coordinates %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
